BOT_TOKEN=8968033164:AAEo0Uc9QLMIW93nvhxuCdeh_4I_r_yykak
API_ID=33778557
API_HASH=df93ee5e2bde1470f90ed8ebb68c802c
UPSTASH_REDIS_REST_URL=https://central-snipe-222076.upstash.io
UPSTASH_REDIS_REST_TOKEN=gQAAAAAAA2N8AAIgcDIzYWUwM2VkZWFiMmQ0NTEyOWYzNTU3NDQ5OGNkYTQxZQ
NODE_ENV=production
WEBAPP_URL=placeholder
